# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.venv

tests/login.robot
tests/__pycache__
tests/login_env.py
outputs/browser
garbage
garbage/browser
outputs/playwright-log.txt
outputs/playwright-log-1745564812546461100.txt
