body {
  margin: 0;
  padding: 0;
  background-color: var(--grey-color);
  line-height: 1.5;
  font-family: var(--font-family);
}

* {
  box-sizing: border-box;
}

.hrv-results-container {
  margin: auto;
  width: 95%;
  max-width: 1200px;
}

.hrv-results-container-header, .hrv-results-container-content, .feedback-table, .container-footer-info-link {
  margin-top: 2em;
  background-color: var(--white-color);
  border-radius: 1rem;
  padding: 1em;
  box-shadow: 10px 10px 5px #CCCCCC;
}

.hrv-results-container-header {
  background-image: url("/img/mountains.png");
  background-size: cover;
  background-position: center;
  color: var(--white-color);
}

.hrv-results-container-header h2, .hrv-results-container-header p, .hrv-results-container-header div {
  margin-left: 20px;
}

.hrv-results-container-header h2 {
  color: var(--white-color);
  font-size: 2rem;
}

.hrv-results-container-content, .hrv-user-feedback h2 {
  color: var(--blue-color);
}

.info-link-box-text h2 {
  color: var(--white-color);
}

.hrv-buttons {
  margin-top: 30px;
}

.hrv-results-container-header p, .feedback-buttons, .container-footer-info-link p {
  max-width: 700px;
  font-size: 1.17em;

}

.feedback-buttons {
  margin-left: 20px;
}

.container-footer-info-link a, .info-link-box-text {
  margin-left: 20px;
}

button#print-hrv-ten-days,
button#print-hrv-thirty-days,
button#open-feedback-form,
button#view-prev-feedback,
input#post-feedback,
button#canvas-one-text-boxes,
button#canvas-two-text-boxes {
  font-family: var(--font-family);
  padding: 1em 2em 1em 2em;
  background-color: var(--blue-color);
  color: var(--white-color);
  border-radius: 30px;
  border-color: transparent;
  font-size: 2.1vh;
  cursor: pointer;
}

input#post-feedback {
  margin-top: 1em;
  background-color: orange;
}

button#print-hrv-ten-days, button#open-feedback-form, button#view-prev-feedback {
  background-color: var(--blue-color);
  color: var(--white-color);
  margin-right: 20px;
}

button#print-hrv-ten-days:hover, button#print-hrv-thirty-days:hover, button#open-feedback-form:hover, button#view-prev-feedback:hover, input#post-feedback:hover {
  background-color: var(--hover-color);
  color: var(--white-color);
  border: 2px solid var(--hover-color);
}

button#canvas-one-text-boxes, button#canvas-two-text-boxes {
  margin-top: 1em;
  background-color: var(--blue-color);
  color: var(--white-color);
  margin-left: 20px;
}

button#canvas-one-text-boxes:hover, button#canvas-two-text-boxes:hover {
  background-color: var(--hover-color);
}

.canvas-wrapper, .canvas-wrapper-2 {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.canvas-wrapper h4, .canvas-wrapper-2 h4 {
  color: #707070;
  font-weight: 100;
}

.hrv-canvas-heading {
  width: 100%;
  margin-left: 20px;
}

h2.measurement-timespan {
  margin-bottom: 0;
}

canvas#readiness-rmssd-chart, canvas#bpm-chart, canvas#age-chart {
  width: 100% !important;
  height: auto !important;
  max-height: 400px !important;
  max-width: 750px !important;
}

canvas#sns-pns-chart {
  width: 100% !important;
  height: auto !important;
  max-height: 400px !important;
  max-width: 750px !important;
}

/*TÄÄLLÄ PIILOTETAAN FOOTERIT*/
.hrv-results-container-footer, .hrv-results-container-footer-2 {
  margin-top: 2em;
  flex-direction: row;
  justify-content: space-around;
  display: none;
  gap: 10px;
  animation-name: appear;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.hrv-results-container-footer div, .hrv-results-container-footer-2 div {
  padding: 1em;
}

@keyframes appear{
  from {
    transform: translateX(-300px);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes disappear {
  from {
    transform: translateX(0);
    opacity: 100%;
  }
  to {
    transform: translateX(-300px);
    opacity: 0%;
  }
}

.results-readiness-text-box {
  background-color: lightblue;
  color: var(--text-color);
}

.results-rmssd-text-box {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.results-sns-text-box {
  /*background-color: lightblue;*/
  color: var(--text-color);
}

.results-pns-text-box {
  background-color: orange;
  color: var(--text-color);
}

.results-bpm-text-box {
  background-color: #C66AB5;
  color: var(--white-color);
  width: 25%;
}

.results-age-text-box {
  background-color: #999999;
  width: 75%;
}
.results-age-text-box p {
  max-width: 600px;
}

.hrv-user-feedback {
  margin-top: 2em;
  background-color: var(--white-color);
  border-radius: 1rem;
  padding: 1em;
  box-shadow: 10px 10px 5px #CCCCCC;
}

.feedback-form-container {
  display: none;
}

form#feedback-form h4 {
  color: var(--blue-color);
}

.feedback-buttons {
  width: 100%;
}

textarea#feedback-text-id {
  width: 50%;
  min-height: 250px;
}

.feedback-table {
  display: none;
}

.feedback-list-table {
  width: 100%;
}

.feedback-list-table thead {
  background-color: orange;
}

.feedback-list-table thead tr, .feedback-list-table tbody tr {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 60%;
  text-align: left;
}

td {
  padding: 0.5em;
}

tr th:first-child, tr td:first-child {
  text-align: center;
}

tr td:first-child, tr td:nth-child(2) {
  border-right: 2px solid var(--grey-color);
  border-bottom: 2px solid var(--grey-color);
}

tr td:last-child {
  border-bottom: 2px solid var(--grey-color);
  width: 100%;
}

.container-footer-info-link {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.info-link-box-text {
  margin-bottom: 1em;
}

div.container-footer-info-link a {
  text-decoration: none;
  color: orange;
}

.container-footer-info-link a:hover {
  color: lightblue;
}

footer {
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 1em;
  margin-top: 2em;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .canvas-wrapper, .canvas-wrapper-2 {
    flex-direction: column;
  }

  .canvas-wrapper div {
    width: 95%;
  }

  canvas#readiness-rmssd-chart,
  canvas#bpm-chart,
  canvas#age-chart,
  canvas#sns-pns-chart {
    width: 100% !important;
    height: auto !important;
    max-width: 100%;
    min-width: 100%;
  }

}

@media only screen and (max-width: 1000px) {
  .hrv-results-container-footer {
    flex-direction: column;
  }

}

/* FOR MAIN CSS AS WELL */
@media only screen and (max-width: 550px) {

  .hrv-results-container {
    width: 95%;
  }

  .hrv-results-container-footer {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }

  h2 {
    font-size: 5vw;
  }

  p, h4, div.container-footer-info-link {
    font-size: 4vw;
  }

  button#print-hrv-ten-days,
  button#print-hrv-thirty-days,
  button#open-feedback-form,
  button#view-prev-feedback,
  input#post-feedback,
  button#canvas-one-text-boxes,
  button#canvas-two-text-boxes,
  input#post-feedback.create-feedback {
    width: 100%;
    font-size: 3vw;
    margin-bottom: 0.5em;
    margin-top: 1em;
  }

  .hrv-results-container-footer-2 {
    flex-direction: column;
  }

  .results-bpm-text-box, .results-age-text-box {
    width: 100%;
  }

  textarea {
    width: 100%;
    min-width: 100%;
  }

  .tbody tr td:first-child, tr th:first-child {
    display: none;
  }

  .feedback-list-table thead tr, .feedback-list-table tbody tr {
    grid-template-columns: 25% 75%;
    font-size: 3vw;
  }

}
