* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--grey-color);
  margin: 0;
  line-height: 1.5;
}

.info-column {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  padding: 0.5rem;
  gap: 2rem;
  margin: auto;
  width: 95%;
  max-width: 1200px;
  background-color: var(--grey-color);
  margin-top: 2em;
}

.text-box {
  width: 100%;
  box-shadow: 10px 10px 5px #CCCCCC;
  border-radius: 1rem;
  padding: 1em;
  color: var(--text-color);
  background-color: var(--white-color);
}

.text-box h2, h3 {
  color: var(--blue-color);
  margin-left: 20px;
}

.text-box p {
  max-width: 85%;
  margin-left: 20px;
}

ol {
  font-weight: bold;
  color: var(--blue-color);
}

li {
  margin-bottom: 10px;
  max-width: 85%;
  color: var(--blue-color);
}

@media only screen and (max-width: 550px) {

  .info-column {
    width: 95%;
    min-width: 95%;
  }

  .text-box ol, .text-box ul {
    padding-left: 1em;
  }

  .text-box p, .text-box ol li, .text-box ul li {
    font-size: 4vw;
    max-width: 100%;
  }

  .text-box h2, .text-box h3 {
    font-size: 5vw;
  }
}
