/* This file contains the main styles for the application */
:root {
  --blue-color: #0046AD; /* perussininen */
  --hover-color: #0063f6; /* hoversininen */
  --grey-color: #ededed;   /* taustan harmaa */
  --white-color: #FFF;  /* valkoinen */
  --text-color: #212322;
}
